In [1]:
# Comparison operators
1 > 2

False

In [3]:
1 <= 2

True

In [4]:
1 >= 3

False

In [5]:
1 == 1

True

In [6]:
1 != 3

True

In [7]:
'string' == "string"

True

In [8]:
1 == '1'

False

In [9]:
# Logic operators
(1 == 2) and (1 == 1)

False

In [10]:
(1 == 2) or (1 == 1)

True

In [11]:
(1 == 1) and not (1 == 2) # This is roughly translates to (1 == 1) and (not (1 == 2))

True

In [12]:
# Conditionals
if True:
    print("Hello!")

Hello!

In [21]:
if 2 == 1:
    print("2 is 1") # This never runs
elif 2 == 2:
    print("2 is 2") # We got a truish value, this is run!
else:
    print("otherwise") # Since the previous condition matches, we don't need to run this

2 is 2

In [25]:
# For loops
seq = [1, 2, 3, 4, 5]
for item in seq:
    print(f"{item} to the power of 2 is {item ** 2}")

1 to the power of 2 is 1
2 to the power of 2 is 4
3 to the power of 2 is 9
4 to the power of 2 is 16
5 to the power of 2 is 25

In [28]:
# While loops
i = 0
while i < 5:
    i += 1
    print(f"i is currently {i}")

i is currently 1
i is currently 2
i is currently 3
i is currently 4
i is currently 5

In [29]:
# Ranges
range(5)

range(0, 5)

In [31]:
for item in range(1, 5):
    print(item)

1
2
3
4
5

In [32]:
list(range(1, 11)) # Turns a range into a list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
# List comprehension
x =[1, 2, 3, 4, 5]
out = [i ** 2 for i in x]
out

[1, 4, 9, 16, 25]