In [1]:
# This is a comment

In [2]:
1 + 1 # Addition

2

In [3]:
1 - 3 # Subtration

-2

In [4]:
2 * 3 # Multiplication

6

In [5]:
1 / 2 # Division

0.5

In [6]:
2 ** 4 # Power multiplication

16

In [7]:
4 % 2 # Module

0

In [9]:
5 / 2

2.5

In [10]:
5 % 2

1

In [11]:
2 + 3 * 5 + 5 # Python use PAMDAS for mathematics

22

In [12]:
name_of_var = 2 # This is a variable
x = 1
y = 2

In [13]:
x + y

3

In [14]:
z = x + y
z

3

In [ ]:
'single' # This is a single-quoted string
"double" # This is a double-quoted string
# Single and double quoted strings are basically the same,
# they differ by the fact that you must scape double-quotes on a double quoted string
# and scape a single-quotes on a single quoted string, not needing that otherwise.

In [50]:
x = "hello"
x

'hello'

In [52]:
x[0] # You can index into strings

'h'

In [53]:
x[0:2] # And slice them

'he'

In [16]:
print("double")

double

In [17]:
name = "Jose Portilla"
print("Hello my name is {}".format(name))

Hello my name is Jose Portilla

In [18]:
number = 12
print(f"Hi my name is {name} and my number is {number}")

Hi my name is Jose Portilla and my number is 12

In [19]:
[1, 2, 3] # This is a list

[1, 2, 3]

In [20]:
my_list = [1, 2, 3]
my_list.append(4)
my_list.append(5)

In [21]:
my_list

[1, 2, 3, 4, 5]

In [26]:
my_char_list = ['a', 'b', 'c', 'c', 'd']
my_char_list

['a', 'b', 'c', 'c', 'd']

In [27]:
my_char_list[0] # Indexing

'a'

In [28]:
my_char_list[-1] # Negative indexing

'd'

In [31]:
my_char_list[0:3] # Slicing

['a', 'b', 'c']

In [32]:
my_char_list[3:] # This slices from index 3 to the end of the list

['c', 'd']

In [33]:
nested = [1, 2, ['a', 'b']]
nested[2][0]

'a'

In [36]:
d = { 'key': 10, 'key2': 'my string' }

In [37]:
d['key']

10

In [38]:
d['key2']

'my string'

In [39]:
True or False # Are booleans

True

In [41]:
t = (1, 2, 3) # This is a tuple
# tuples are a lot like lists but are immutable,
# meaning you can't add new values or change the values it holds

In [43]:
t[0]

1

In [44]:
{1, 2, 3} # This is a set
# An set is an unordered collection of unique items
# This means it has no indexes and it only holds a single identical value. Check next cell;

{1, 2, 3}

In [45]:
{1, 2, 2, 3, 3, 3, 3}

{1, 2, 3}

In [46]:
set([1,1,2,3,3,3]) # You can also create a set from a list

{1, 2, 3}

In [47]:
import math # The math module has plenty of cool functions
math

In [49]:
math.sqrt(10) # The square root of 10

3.1622776601683795